@media(min-width: 768px) {
    .contact-img {
        aspect-ratio: 4/2;
    }
}

.brand:hover {
    opacity: 80%;
}

.icon:hover {
    opacity: 60%;
}
.typing-text h1 {
    width: 100%;
    overflow: hidden; /* hide the text initially */
    border-right: 0.15em solid; /* create a blinking cursor effect */
    white-space: nowrap; /* prevent the text from wrapping */
    animation: typing 2s steps(30, end), blink-caret .95s step-end infinite; /* define the typing and blinking animation */
  }
  
  @keyframes typing {
    from { width: 0; } /* start with no width */
    to { width: 100%; } /* animate to full width */
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent; } /* start and end with transparent border */
    50% { border-color: orange; } /* animate to orange border color in the middle */
  }
  
  .slide-in-text {
    position: relative;
    right: -100%;
    animation: slide-in 1s forwards;
  }
  
  @keyframes slide-in {
    0% {
      right: -100%;
    }
    100% {
      right: 0;
    }
  }

  .slide-in-text-left {
    position: relative;
    left: -100%;
    animation: slide-in-left 1s forwards;
  }
  
  @keyframes slide-in-left {
    0% {
      left: -100%;
    }
    100% {
      left: 0;
    }
  }

.small-link {
    color: black;
    text-decoration: underline;
}
